{{ define "main" }}
<div class="font-code color-text-secondary align-text-svg margin-top-10">
<svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="margin-right-10 icon fill-background stroke-foreground group-hover:fill-foreground group-hover:stroke-background size-5 stroke-1"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M11.172 2a3 3 0 0 1 2.121 .879l7.71 7.71a3.41 3.41 0 0 1 0 4.822l-5.592 5.592a3.41 3.41 0 0 1 -4.822 0l-7.71 -7.71a3 3 0 0 1 -.879 -2.121v-5.172a4 4 0 0 1 4 -4zm-3.672 3.5a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2"></path></svg>
{{ if .Data.Singular }}
  <span><u>{{ lower .Title }}</u></span>
{{ else }}
  {{ range .Site.Taxonomies.tags }}
  <a class="color-text-secondary margin-right-5" href="{{ .Page.RelPermalink }}">{{ lower .Page.Title }}</a>
  {{ end }}
{{ end }}
</div>
<ul class="blog-list no-bullets">
{{ range .Pages.ByPublishDate.Reverse }}
{{- partial "listitem.html" . -}}
{{ end }}
</ul>
{{ end }}
